.ui-page {
    background: transparent url(../img/background/bkg-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

#hourlyreport{
    background-color: black;
    opacity: 0.95;
    margin:10px 10px;
    border-radius: 10px;
}

#hourlyreport h4{
    color:gray;
    text-align: center;
    padding-top: 15px;
}

.hourly{
/*    margin-top: 10px;*/
    /*position: relative;*/
    width: 100%;
    overflow:auto;
/*    margin: 0 auto;
    width: 90%;*/
}

#hourlyTable{
    overflow-x: scroll !important;
    /*table-layout: auto;*/
    border-collapse:collapse;
    background-color: gray;
    /*opacity: 0.75;*/
/*    text-align: center;*/
}

#hourlyTable td{
    padding: 10px 30px 30px 30px;
    border-right: solid 1px #a9a9a9; 
    border-left: solid 1px #a9a9a9;
    /*overflow: auto;*/
    /*opacity: 0.75;*/
}

#temp{
    font-size: 25px;
    font-weight: 5;
}

.flipUnit{
    float: right;
    top:0%;
}

#timestamp{
    font-size: xx-small;
    text-align: center;
}

.output{
    margin: 0 auto;
    width: 50%;
}

#location{
    position: relative;
    text-align: center;
}

.Result{
    position: relative;
    margin:0 auto;
    overflow: auto;
    /*background-color: black;*/
    border:5px solid black;
    /*opacity: 0.75;*/
    border-radius: 30px;
    border:5px solid black;
}

.Result .DisplayWeather{
    position: relative;
    text-align:center;
}

@media screen and (min-width: 375px){
    .Result{
        /*background-color: black;*/
        border:5px solid black;
        position: relative;
        margin:0 auto;
        overflow: auto;
        /*opacity: 0.75;*/
    }
}

@media screen and (min-width: 600px){
    .Result{
        /*background-color: black;*/
        border:5px solid black;
        position: relative;
        width: 40%;
        margin:0 auto;
        overflow: auto;
        /*opacity: 0.75;*/
    }
}