.ui-page {
    background: transparent url(../img/background/bkg-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

/*.flipUnit{
    float: right;
    top:0%;
}*/

#timestamp{
    font-size: xx-small;
    text-align: center;
}

.output{
    margin: 0 auto;
    width: 50%;
}

#location{
    position: relative;
    text-align: center;
}

.Result{
    position: relative;
    margin:0 auto;
    overflow: auto;
    /*background-color: black;*/
    border:5px solid black;
    /*opacity: 0.75;*/
    border-radius: 30px;
    border:5px solid black;
}

.Result .DisplayWeather{
    position: relative;
    text-align:center;
}

@media screen and (min-width: 375px){
    .Result{
        /*background-color: black;*/
        border:5px solid black;
        position: relative;
        margin:0 auto;
        overflow: auto;
        /*opacity: 0.75;*/
    }
}

@media screen and (min-width: 600px){
    .Result{
        /*background-color: black;*/
        border:5px solid black;
        position: relative;
        width: 40%;
        margin:0 auto;
        overflow: auto;
        /*opacity: 0.75;*/
    }
}